name: Notification Service CI

on:
  push:
  pull_request:

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up JDK 21
      uses: actions/setup-java@v3
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    
    - name: Build with Maven
      working-directory: ./notification-service
      run: mvn clean package -DskipTests
    
    - name: Run tests
      working-directory: ./notification-service
      run: mvn test
    
    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build Docker image
      run: |
        docker build -f Dockerfile.notification-service -t ebank/notification-service:${{ github.sha }} .
        docker tag ebank/notification-service:${{ github.sha }} ebank/notification-service:latest
    
    - name: Tag for GHCR
      run: |
        REPO_LC=${GITHUB_REPOSITORY,,}
        docker tag ebank/notification-service:${{ github.sha }} ghcr.io/${REPO_LC}/notification-service:${{ github.sha }}
        docker tag ebank/notification-service:${{ github.sha }} ghcr.io/${REPO_LC}/notification-service:latest

    - name: Push to GHCR
      if: github.event_name != 'pull_request'
      run: |
        REPO_LC=${GITHUB_REPOSITORY,,}
        docker push ghcr.io/${REPO_LC}/notification-service:${{ github.sha }}
        docker push ghcr.io/${REPO_LC}/notification-service:latest

    # TODO: Add deployment step (CD) - Responsible: Abdelghafour
    # - name: Deploy to Kubernetes
    #   run: |
    #     kubectl set image deployment/notification-service notification-service=ebank/notification-service:${{ github.sha }} -n ebank
