name: User Service CI

on:
  push:
  pull_request:

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        working-directory: ./user-service
        run: mvn clean package -DskipTests

      - name: Run tests
        working-directory: ./user-service
        run: mvn test

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -f Dockerfile.user-service -t ebank/user-service:${{ github.sha }} .
          docker tag ebank/user-service:${{ github.sha }} ebank/user-service:latest

      - name: Tag for GHCR
        run: |
          docker tag ebank/user-service:${{ github.sha }} ghcr.io/${{ github.repository }}/user-service:${{ github.sha }}
          docker tag ebank/user-service:${{ github.sha }} ghcr.io/${{ github.repository }}/user-service:latest

      - name: Push to GHCR
        if: github.event_name != 'pull_request'
        run: |
          docker push ghcr.io/${{ github.repository }}/user-service:${{ github.sha }}
          docker push ghcr.io/${{ github.repository }}/user-service:latest

    # TODO: Add deployment step (CD) - Responsible: Abdelghafour
    # - name: Deploy to Kubernetes
    #   run: |
    #     kubectl set image deployment/user-service user-service=ebank/user-service:${{ github.sha }} -n ebank
